<ul>
<li><%= @astronauts.name %></li>
<li><%= @astronauts.weight %></li>
<li><%= @astronauts.height %></li>
<li><%= @astronauts.bio %></li>
<li><%= @astronauts.specialty %></li>
<li><%= @astronauts.nationality %></li>
</ul>
<br>
<a href="/astronauts/<%=@astronauts.id%>/edit">Edit Crew Member</a>
<br>
  <a href="/">Return to Mission Control</a>