<p>Update for <%= @astronaut.name %></p>

<p>Name: <%= @astronaut.name %></p>
<p>Weight: <%= @astronaut.weight %></p>
<p>Height: <%= @astronaut.height %></p>
<p>Bio: <%= @astronaut.bio %></p>
<p>Specialty: <%= @astronaut.specialty %></p>
<p>Nationality: <%= @astronaut.nationality %></p>

<a href="/">Return to Main Console</a><br>
<a href="/astronauts/new">Create a New Crew Member</a>

<form method="post" action="/astronauts/<%= @astronaut.id %>">
  <input type="hidden" name="_method" value="Delete" />
  <input type="submit" value="Delete Crew Member" />

  <br />
  <br />
</form>