<p>Update for <%= @astronaut.name %></p>

<p>Name: <%= @astronaut.name %></p>
<p>Weight: <%= @astronaut.weight %></p>
<p>Height: <%= @astronaut.height %></p>
<p>Bio: <%= @astronaut.bio %></p>
<p>Specialty: <%= @astronaut.specialty %></p>
<p>Nationality: <%= @astronaut.nationality %></p>

<a href="/">Return to Main Console</a>