<p>Update for <%= @spaceship.name %></p>

<p>Name: <%= @spaceship.name %></p>
<p>Weight: <%= @spaceship.type %></p>
<p>Height: <%= @spaceship.speed %></p>
<p>Bio: <%= @spaceship.crew %></p>
<p>Specialty: <%= @spaceship.cargo %></p>

<a href="/">Return to Main Console</a>